.side-bar {
  height: 90vh;
  width: 300px;
}

.side-bar:hover {
  background-color: #111111;
  border-radius: 0 0 10px 10px;
}

.side-bar-p {
  color: #898989;
  font-family: "satoshi", "sans-serif";
  font-size: 12px;
  padding-left: 15px;
  flex: 1;
}

.nav-bar-right-icons {
  list-style-type: none;
}

.side-bar-list {
  padding-left: 5px;
  margin: 0;
}

.side-bar-items {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 5px;
}

.side-bar-items:hover {
  background-color: #212121;
}

.side-bar-icons img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

img.arrow {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-bar-icons {
  text-decoration: none;
}

.side-bar-icons {
  width: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-list {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 50px;
  height: 50px;
  width: 900px;
  margin: 0;
  padding: 0;
}

.home {
  background-color: #111111;
  display: grid;
  border-radius: 10px;
}

.nav-bar-list-items {
  color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  padding-left: 10px;
}

.nav-bar-p {
  color: #898989;
  font-family: "satoshi", "sans-serif";
  font-size: 13px;
  flex: 1;
  margin-left: 10px;
}

.nav-bar-icons img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-bar-icons {
  width: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home-color {
  color: #E0E0E0;
  font-family: "satoshi", "sans-serif";
  font-size: 13px;
  padding-left: 10px;
}

.nav-bar-right-icons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.cat-profile {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.core-display {
  width: 1920px;
  border: 1px solid #202020;
  border-radius: 10px;
}

.main-container {
  display: flex;
}

.music-grid {
  position: relative;
  margin-top: 50px;
}

.main-grid-template {
  width: 100%;
  height: 250px;
  display: grid;
  margin: -50px 0 0 0;
}

.grid-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  grid-column: 1/9;
}

.grid-second-row {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 400px;
  gap: 8px;
  margin-left: 15px;
}

.grid-arrows {
  margin: 5px;
}

.grid-cube {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cube-content1 {
  display: flex;
  justify-content: space-between;
}

.cube-content2 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #898989;
  width: 130px;
}

.music-title {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
}

.made-for-u {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  font-size: 20px;
}

.category-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #E0E0E0;
  display: flex;
  gap: 20px;
  font-family: "satoshi", "sans-serif";
  margin: 8px 15px;
}

.category {
  padding: 8px 15px;
  background-color: #111111;
  border-radius: 8px;
}

.category-span {
  background-color: none;
  padding: 0;
  margin-right: 10px;
}

.category:hover {
  background-color: #E0E0E0;
  color: #111111;
  font-weight: bold;
}

.music-photo1 {
  width: 150px;
  height: 150px;
  background-image: url(../assets/card_img_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifty1 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #CE6E9A;
  margin-left: 25px;
}

.background-shadow1 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(240, 128, 128, 0.5);
  margin-bottom: 1px;
}

.music-photo2 {
  width: 150px;
  height: 150px;
  background-image: url(../assets/card_img_2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifty2 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #95E6D3;
  margin-left: 25px;
}

.background-shadow2 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(149, 230, 211, 0.231372549);
  margin-bottom: 1px;
}

.music-photo3 {
  width: 150px;
  height: 150px;
  background-image: url(../assets/card_img_3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifty3 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #F4B8BD;
  margin-left: 25px;
}

.background-shadow3 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(244, 184, 189, 0.4549019608);
  margin-bottom: 1px;
}

.music-photo4 {
  width: 150px;
  height: 150px;
  background-image: url(../assets/card_img_4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifty4 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #C3E7B7;
  margin-left: 25px;
}

.background-shadow4 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(195, 231, 183, 0.4588235294);
  margin-bottom: 1px;
}

.music-photo5 {
  width: 150px;
  height: 150px;
  background-image: url(../assets/card_img_5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifty5 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #F37FA6;
  margin-left: 25px;
}

.background-shadow5 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(243, 127, 166, 0.4470588235);
  margin-bottom: 1px;
}

.music-photo6 {
  width: 150px;
  height: 150px;
  background-image: url(../assets/card_img_6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifty6 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #A0BEC8;
  margin-left: 25px;
}

.background-shadow6 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(160, 190, 200, 0.4274509804);
  margin-bottom: 1px;
}

.music-photo7 {
  width: 150px;
  height: 150px;
  background-image: url(../assets/card_img_7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifty7 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #FDD87D;
  margin-left: 25px;
}

.background-shadow7 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(253, 217, 125, 0.4509803922);
  margin-bottom: 1px;
}

.music-photo8 {
  width: 150px;
  height: 150px;
  background-image: url(../assets/card_img_8.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifty8 {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 12px;
  margin: 5px 0;
  color: #D4B2A9;
  margin-left: 25px;
}

.background-shadow8 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(212, 178, 169, 0.4);
  margin-bottom: 1px;
}

.background-shadow-search3 {
  width: 120px;
  height: 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(98, 120, 177, 0.3019607843);
  margin-bottom: 1px;
}

.grid-arrows-search {
  margin: 5px;
  padding-right: 10px;
}

.music-title-search {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 15px;
  margin: 5px 0;
}

.music-photo-search1 {
  width: 130px;
  height: 130px;
  border-radius: 7px;
  background-image: url(../assets/search-tab/3.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.music-photo-search2 {
  width: 130px;
  height: 130px;
  border-radius: 7px;
  background-image: url(../assets/search-tab/1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.music-photo-search3 {
  width: 130px;
  height: 130px;
  border-radius: 7px;
  background-image: url(../assets/search-tab/2.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.x1 {
  position: absolute;
  top: 0px;
  left: 110px;
}

.x2 {
  position: absolute;
  left: 110px;
}

.x3 {
  position: absolute;
  top: 0;
  left: 110px;
}

.grid-cube-search {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.cube-content-search {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 15px;
  margin: 5px 0;
  color: #898989;
  width: 130px;
  font-size: 12px;
  margin: 0;
}

.cube-content-search {
  width: 130px;
}

.grid-cube-search1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.grid-first-row-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  grid-column: 1/9;
}

.discover {
  font-family: "satoshi", "sans-sarif";
  color: #E0E0E0;
  font-size: 15px;
  margin: 5px 0;
  font-size: 15px;
  padding: 0px 20px 0 0;
  margin: 0;
}

.grid-first-row-search-discover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/9;
}

.core-display-search {
  width: 1920px;
  border: 1px solid #202020;
  border-radius: 10px;
}

.main-grid-template-search {
  margin: -40px 0 0 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px 200px 50px 50px 150px 50px 145px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
}

.search-grid-1 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/seach-dicover/1.svg);
}

.search-grid-2 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/seach-dicover/2.svg);
}

.search-grid-3 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/seach-dicover/3.svg);
}

.search-grid-4 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/seach-dicover/4.svg);
}

.search-grid-5 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/seach-dicover/5.svg);
}

.search-grid-6 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/seach-dicover/6.svg);
}

.search-grid-7 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/seach-dicover/7.svg);
}

.search-grid-8 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/seach-dicover/8.svg);
}

.search-grid-9 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/search-genres/9.svg);
}

.search-grid-10 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/search-genres/10.svg);
}

.search-grid-11 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/search-genres/11.svg);
}

.search-grid-12 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/search-genres/12.svg);
}

.search-grid-13 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/search-genres/13.svg);
}

.search-grid-14 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/search-genres/14.svg);
}

.search-grid-15 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/search-genres/15.svg);
}

.search-grid-16 {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/search-genres/16.svg);
}

@font-face {
  font-family: "satoshi";
  src: url(./assets/Fonts/Satoshi-Variable.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #060606;
}

/*# sourceMappingURL=main.css.map */